.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #008b8b;
    border: 1px solid palevioletred;
    padding: 10px;
}

.nav {
    .nav-item {
        display: flex;
        gap: 120px;
        list-style-type: none;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        padding: 20px;
        /* width: 100px; */
        font-size: 15px;
    }
    .nav-item .links {
        text-decoration: none;
        color: lightgray;
        transition: 2s;
        padding: 10px;
    }
    .nav-item li:hover {
        border-bottom: 2px solid lightgray;
        border-top: 2px solid palevioletred;
    }
}